@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        overflow-x: hidden;
    }
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
    }
    .navigation {
        display: none;
    }
    .buttonMobileNavigation {
        width: 80px;
        height: 70px;
        margin-top: 1.2em;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10%;
        font-size: 25px;
        font-family: "Times new Roman", Arial, sans-serif;
    }
    .mobileNavigation {
        display: block;
        text-align: center;
    }
    .mobileNavigationSite {
        display: none;
        background: rgba(0, 0, 0, 0.6);
        padding: 1em 0 1em 0;
    }
    .navigationSiteList li {
        list-style: none;
    }
    ul.navigationSiteList a {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Times new Roman", Arial, sans-serif;
        font-size: 23px;
        margin-top: 10px;
    }
    .headline {
        font-size: 40px;
    }
    .main {
        font-size: 25px;
        padding: 0 20px 0 20px;
    }
    .bissnesMenu p {
        font-size: 25px;
    }
    .reservation {
        font-size: 25px;
    }
    .resParagraph {
        font-size: 25px;
    }
    .reservationButton {
        display: none;
    }
}