* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}

.headline {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
.bissnesMenu {
    text-align: center;
}

.boxSpecialOffer {
    margin: 10px auto;
    width: 600px;
    background-color: rgba(220, 220, 220, 0.3);
    border: 1px solid rgb(211, 211, 211);
}
.specialOfferItem {
    font-size: 20px;
}

.specialOffer {
    color: rgb(255, 0, 0);
    font-style: italic;
}

.specialOfferInfo {
    color: rgb(178, 34, 34);
    font-size: 18px;
}
.paragraphSpecialOffer {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.priceSpecialOffer {
    color: rgb(178, 34, 34);
}

.bissnesMenuInfo {
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(188, 143, 143);
}

.reservation {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.resParagraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(188, 143, 143);
}

.reservationButton {
    background: rgba(222, 184, 135, 0.5);
    border: 3px solid rgb(222, 184, 135);
    border-radius: 40px;
    width: 300px;
    height: 50px;
    margin: 20px 20px 20px 20px;
    font-family: "Times New Roman", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.reservationButton:hover {
    background: rgb(210, 180, 140);
    border: 3px solid rgb(255, 255, 255);
}

footer {
    margin: 0 auto;
    max-width: 1280px;
}

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}


@media screen and (max-width: 900px) {
    .footer {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .boxSpecialOffer {
        width: 450px;
    }
}
@media screen and (max-width: 480px) {
    .specialOfferItem {
        font-size: 20px;
    }
    .orderTable {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .boxSpecialOffer {
        width: 350px;
    }
}
