body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.5;
}

.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1050;
    opacity: 0;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.modalWindow:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modalDialog {
    position: relative;
    width: auto;
    height: auto;
    /* margin-top: 10%; */
}

.modalContent {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    background-color: rgba(192, 192, 192 0.8);
    background-clip: padding-box;
    outline: 0;
    border: 8px solid rgba(255, 255, 255, 0.9);
    border-radius: 35px;
    margin-top: 5%;
}

.modalHeader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.modalTitle {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 35px;
    font-style: italic;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

.close:focus,
.close:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modalBody {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    padding: 1em;
    overflow: auto;
}

.orderTableForm {
    margin: 0;
    padding: 0;
}

.orderTableForm fieldset {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    border: none;
}

.orderTableForm p {
    margin: .5em 0;
    text-align: center;
}

#firstNameOrder,
#phoneOrder,
#email {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 300px;
    height: 50px;
    background: none;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#datepicker,
#timeOrder,
#guests {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 150px;
    height: 50px;
    background: none;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.ui-datepicker {
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    width: 300px;
}

.ui-datepicker table {
    width:278px;
    border: 1px solid black;
    color: white;
    }
     
    .ui-datepicker table td {
    text-align:center;
    }
     
    .ui-datepicker a {
    cursor:pointer;
    text-decoration:none;
    color: white;
    }
     

    .ui-datepicker-header {
        /* background: ; */
        color: #ffffff;
        font-family:'Times New Roman';
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #111;
    }
    
    .ui-datepicker-title {
        text-align: center;
        font-size: 15px;
    
    }
    
    .ui-datepicker-prev {
        float: left;
        margin-left: 10px;
        cursor: pointer;
        background-position: center -30px;
    }
    
    .ui-datepicker-next {
        float: right;
        margin-right: 10px;
        cursor: pointer;
        background-position: center 0px;
    }
        
    .ui-datepicker-title {
    text-align: center;
    font-weight:bold;
    }

#calender::-webkit-inner-spin-button,
#calender::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.orderTableForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

.orderTableForm option {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    text-align-last: center;
}

#check {
    clear: both;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    text-align: center;
}

.orderTableForm p.sibmit {
    clear: both;
    background: none;
    padding: 0 25px 20px 25px;
    margin: 0;
    text-align: center;
}

.orderTableForm button {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.orderTableForm button:hover {
    background-color: rgba(169, 169, 169, 0.4);
    color: white;
}

label {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .modalTitle {
        line-height: 1;
        font-size: 30px;
    }
    #firstNameOrder,
    #phoneOrder,
    #email {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        width: 200px;
        height: 50px;
        background: none;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
    }
    .orderTableForm button {
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 16px;
    }
}