header {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}
.header {
    background: url(../images/header7.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: auto;
}
.headerFront {
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.nameCafe {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
.info {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
}
.infoMobile {
    display: none;
}
.orderTable {
    text-align: center;
}
.orderButton {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
}
.orderTable button:hover {
    background-color: rgba(169, 169, 169, 0.4);
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 800px) {
    .header {
        background: url(../images/headerMobile1.jpg) no-repeat;
        background-size: cover;
    }
    .info {
        font-size: 25px;
    }
    .infoMobile {
        display: block;
    }  
}
@media only screen and (max-width: 768px) {
    .header {
        background: url(../images/headerMobile4.jpg) no-repeat;
        background-size: cover;
    }
    .info {
        font-size: 22px;
    }
}
@media only screen and (max-width: 600px) {
    .header {
        background: url(../images/headerMobile5.jpg) no-repeat;
        background-size: cover;
    }
    .orderButton {
        width: 250px;
        font-size: 18px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .mainContainer {
        display: grid;
        grid-template-columns: 100%;
        overflow-x: hidden;
    }
    .nameCafe {
        font-size: 2.5em;
        font-weight: 100;
    }

    .info {
       font-size: 20px;
    }
    .orderButton {
        display: none;
    }
    .menuDishes p {
        font-size: 2em;
    }
    .listDishes {
        display: grid;
        grid-template-columns: 80%;
    }
    .description {
        font-size: 2em;
        padding-top: 20%;
    }
    .banquets p {
        font-size: 2em;
    }
    .banquetContainer {
        grid-template-columns: 1fr;
    }
    .banquetList li {
        font-size: 1.2em;
    }
    .buttonOrder {
        display: none;
    }
    .photoGallery {
        display: none;
    }
    .commentHeader p {
        font-size: 2em;
    }
    .commentForm input {
        width: 280px;
        font-size: 20px;
    }
    .commentForm textarea {
        width: 280px;
    }
}
