@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .main-container {
        grid-template-columns: 1fr;
        max-width: auto;
    }
    .header {
        background: url(../images/header-mobile.jpg);
        background-size: 100% 100%;
        max-width: auto;
    }
    .header-front {
        max-width: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .name-cafe {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-family: "Times new Roman", Arial, sans-serif;
        font-style: italic;
        font-weight: 300;
        text-align: center;
    }
    .info-mobile {
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        font-family: "Times new Roman", Arial, sans-serif;
        text-align: center;
    }
    .navigation {
        display: none;
    }
    /* .mobile-navigation {} */
    .content-navigation {
        margin: 0;
        padding: 0;  
    }
    .content-navigation p {
        text-align: center;
    }
    .buttonMobileNavigation {
        width: 30%;
        height: 50px;
        font-size: 1em;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }
    .mobileNavigationSite { /*div*/
        display: none;
        text-align: center;
    }

    .navigationSiteList {
        background: rgba(0, 0, 0, 0.5);
    }

    .navigationSiteList li { /*ul*/
        list-style: none;
    }

    ul.navigationSiteList a {
        font-size: 1.5em;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Times new Roman", Arial, sans-serif;
    }

    .info {
        display: none;
    }
    .orderTable {
        display: none;
    }
    .story {
        padding: 10%;
    }
    .story p {
        font-size: 1.2em;
        font-family: "Times New Roman", Arial, sans-serif;
    }

    .menu-dishes {
        display: none;
    }
    /* .menuDishesMobile {} */

    .menuDishesMobile  p {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: "Times new Roman", Arial, sans-serif;
    text-align: center;
    }

    .listDishes {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 0.5em;
    }

    .dish p {
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: normal;
    }

    /* .banquet-list {} */

    .banquets  p {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: normal;
    text-align: center;
    }

    .banquet-container {
        display: grid;
        grid-template-columns: 1fr;
        /* padding: 0 10% 0 10%; */
    }

    .banquet-list {
        padding: 0 10% 0 0;
    }
    .banquet-list li {
        font-size: 1.2em;
        font-style: normal;
    }

    .ordeBanquetMobile p {
    font-size: 1.2em;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: normal;
    text-align: center;
    text-align: center;
    }

    .banquet-list li:before {
        position: absolute;
        width:  5px;
        height: 5px;
        border: 1px solid rgb(188, 143, 143);
        border-radius: 50%;
        background: rgb(210, 180, 140);
        content: "";
        left: 10%;
        transition: .3s ease-in-out;
    }

    .buttonOrder {
        display: none;
    }
    .photo-gallery {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-gap: 1.5em;  
        padding:  10px;   */
    }
    .hide {
        display: none;
    }
    .coverHide  {
        display: none;
    }
    .modal-windowBanquet {
        display: none;
    }
    .modal-windowGallery {
        display: none;
    }
    .comments {
        display: none;
    }
    .footer {
    font-size: 1.2em;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
    }

}
