@media screen and (max-width: 320px) {
    .main-container {
        display: grid;
        grid-template-columns: 100%;
        overflow-x: hidden;
        /*уберает пустое пространство справо*/
    }
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
    }
    .name-cafe {
        font-size: 2.5em;
        font-weight: 100;
    }
    .navigation {
        display: none;
    }
    .info {
        display: none;
    }
    .info-mobile {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        font-family: "Times new Roman", Arial, sans-serif;
        text-align: center;
    }
    .buttonMobileNavigation {
        width: 80px;
        height: 70px;
        font-size: 20px;
        font-family: "Times new Roman", Arial, sans-serif;
    }
    .mobile-navigation {
        display: block;
        text-align: center;
    }
    .mobileNavigationSite {
        background: rgb(0, 0, 0);
    }
    .navigationSiteList li {
        list-style: none;
    }
    ul.navigationSiteList a {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Times new Roman", Arial, sans-serif;
        font-size: 23px;
        margin-top: 10px;
    }
    .orderButton {
        width: 200px;
        font-size: 1.3em;
    }
    .story {
        padding: 20px;
    }
    .story p {
        font-size: 1.5em;
    }
    .menu-dishes p {
        font-size: 2em;
    }
    .list-dishes {
        display: grid;
        grid-template-columns: 80%;
    }
    .specification {
        font-size: 2em;
        padding-top: 20%;
    }
    .banquets p {
        font-size: 2em;
    }
    .banquet-container {
        grid-template-columns: 1fr;
    }
    .banquet-list li {
        font-size: 1.2em;
    }
    .photo-gallery {
        display: none;
    }
    .comment-header p {
        font-size: 2em;
    }
    .commentForm input {
        width: 280px;
        font-size: 20px;
    }
    .commentForm textarea {
        width: 280px;
    }
}