* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid blue;
}

main {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}

.nameSection {
    padding: 30px 0;
}
.story {
    padding: 50px 50px 100px 50px;
    background-color: rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
}

h1 {
    text-align: center;
    font-style: italic;
}

.descriptionCafe {
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);
}


.menuDishes p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

.listDishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    justify-content: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.dish {
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
}

.description {
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    position: absolute;
    /* left: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding-top: 25%;
    text-align: center;
    opacity: 1;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.dish img {
    max-width: 100%;
}

.banquets {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    background-color: rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    overflow: hidden;
}

.banquets p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

.banquetContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.banquetList ul {
    list-style-type: none;
}

.banquetList li {
    position: relative;
    padding: 10px 0 10px 50px;
    font-size: 25px;
    font-style: italic;
}

.banquetList li:before {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 4px solid rgb(188, 143, 143);
    border-radius: 50%;
    background: rgb(210, 180, 140);
    content: "";
    left: 10px;
    transition: .3s ease-in-out;
    top: 20px;
}

.buttonOrder {
    text-align: center;
    padding-top: 30px;
}

.orderButtonBanquet {
    width: 250px;
    height: 50px;
    background: rgba(210, 180, 140, 0.4);
    border: 2px solid rgb(188, 143, 143);
    border-radius: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.orderButtonBanquet:hover {
    background: rgba(210, 180, 140, 0.7);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5em;
    padding: 10px;
}

.photoGallery div {
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.photoGallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
    display: block;
}

.coverHide {
    position: relative;
    overflow: hidden;
}

.coverHide img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.hideClick {
    font-size: 18px;
    font-family: "Times New Roman", Arial, sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(211, 211, 211, 0.1);
    padding-top: 25px;
    text-align: center;
    margin-top: 15px;
    opacity: 1;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 70%;
}

.coverHide:hover .hideClick {
    background-color: rgba(255, 255, 255, 0.7);
}

.hideClick label {
    font-size: 20px;
    font-family: "Times New Roman", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.comments {
    text-align: center;
    background-color: rgb(210, 180, 140);
    /* border: 1px solid red; */
}

.commentHeader p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
}

.commentForm fieldset {
    border: none;
}

.commentForm input {
    margin-top: 10px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.commentForm textarea {
    width: 430px;
    height: auto;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.commentButton {
    width: 250px;
    height: 50px;
    background: rgba(222, 184, 135, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentButton:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.9);
    background: none;
}

footer {
    margin: 0 auto;
    max-width: 1280px;
}

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}

.footer p {
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .description {
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px) {
    .description {
        font-size: 25px;
    }
    .commentHeader p {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 768px) {
    .description {
        font-size: 25px;
    }
    .banquetContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .commentHeader p {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 600px) {
    .story h1{
        font-size: 25px;
    }
    .descriptionCafe {
        padding-top: 10px;
        font-size: 20px;
    }
    .menuDishes p {
        font-size: 2em;
    }
    
    .description {
        font-size: 20px;
        padding-top: 10%;
    }
    .listDishes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banquets p {
        font-size: 2em;
    }
    .banquetContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .photoGallery {
        display: none;
    }
    .commentHeader p {
        font-size: 2em;
    }

}

@media only screen and (max-width: 360px) {
    .story {
        padding: 20px;
        line-height: normal;
    }
    .listDishes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .banquetList li {
        font-size: 20px;
    }

    .commentHeader p {
        font-size: 30px;
    }
   
.commentForm input {
    width: 300px;
    font-size: 20px;
}

.commentForm textarea {
    width: 270px;
    font-size: 20px;
}

.commentButton {
    width: 200px;
    font-size: 20px;
}

}
