* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: url(../images/header.png) no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
    height: auto;
}

.headerFront {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.nameCafe {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.navigation {
    list-style: none;
    text-align: center;
}

.navigationSite li {
    display: inline;
}

ul.navigationSite a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    opacity: 0, 1;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Times new Roman", Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

ul.navigationSite a:hover {
    background-color: rgba(169, 169, 169, 0.4);
    color: rgb(255, 255, 255);
}

.info {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}

.infoMobile {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: "Times new Roman", Arial, sans-serif;
    text-align: center;
}

.mobileNavigation {
    display: none;
}

.buttonMobileNavigation {
    width: 80px;
    height: 70px;
    margin-top: 1.2em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10%;
    font-size: 25px;
    font-family: "Times new Roman", Arial, sans-serif;
}

.mobileNavigation {
    display: none;
    text-align: center;
}

.mobileNavigationSite {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 1em 0 1em 0;
}

.navigationSiteList li {
    list-style: none;
}

ul.navigationSiteList a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Times new Roman", Arial, sans-serif;
    font-size: 23px;
    margin-top: 10px;
}

.orderTable {
    text-align: center;
}

.orderButton {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
}

.orderTable button:hover {
    background-color: rgba(169, 169, 169, 0.4);
    color: rgb(255, 255, 255);
}

.story {
    padding: 50px 50px 100px 50px;
    background-color: rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
}

.story p {
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);
}

.menuDishes {
    /* margin: 0 auto; */
}

.menuDishes p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

.listDishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    justify-content: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.dish {
    border: 1 px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
}

.description {
    font-size: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    position: absolute;
    /* left: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding-top: 25%;
    text-align: center;
    opacity: 1;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.dish img {
    max-width: 100%;
    /* height: auto;
    object-fit: cover;
    display: block; */
}

.banquets {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    background-color: rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    overflow: hidden;
}

.banquets p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

.banquetContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.banquetList ul {
    list-style-type: none;
}

.banquetList li {
    position: relative;
    padding: 10px 0 10px 50px;
    font-size: 25px;
    font-style: italic;
}

.banquetList li:before {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 4px solid rgb(188, 143, 143);
    border-radius: 50%;
    background: rgb(210, 180, 140);
    content: "";
    left: 10px;
    transition: .3s ease-in-out;
    top: 20px;
}

.buttonOrder {
    text-align: center;
    padding-top: 30px;
}

.orderButtonBanquet {
    width: 250px;
    height: 50px;
    background: rgba(210, 180, 140, 0.4);
    border: 2px solid rgb(188, 143, 143);
    border-radius: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.orderButtonBanquet:hover {
    background: rgba(210, 180, 140, 0.7);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.photoGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5em;
    padding: 10px;
}

.photoGallery div {
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.photoGallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
    display: block;
}

.coverHide {
    position: relative;
    overflow: hidden;
}

.coverHide img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.hideClick {
    font-size: 18px;
    font-family: "Times New Roman", Arial, sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(211, 211, 211, 0.1);
    padding-top: 25px;
    text-align: center;
    margin-top: 15px;
    opacity: 1;
    top: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 70%;
}

.coverHide:hover .hideClick {
    background-color: rgba(255, 255, 255, 0.7);
}

.hideClick label {
    font-size: 20px;
    font-family: "Times New Roman", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.comments {
    text-align: center;
    background: rgb(210, 180, 140);
}

.commentHeader p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
}

.commentForm p {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.commentForm input {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    background: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.commentForm textarea {
    width: 450px;
    height: auto;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Times New Roman", Arial, sans-serif;
}

.commentButton {
    width: 250px;
    height: 50px;
    background: rgba(222, 184, 135, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    font-family: "Times New Roman", Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentButton:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.9);
    /* background: rgba(255, 255, 255, 0.1); */
    background: none;
}

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}

.footer p {
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .description {
        font-size: 25px;
    }
}

@media only screen and (min-width: 710px) and (max-width: 800px) {
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
        background-size: cover;
    }
    .navigation {
        display: none;
    }
    .info {
        display: none;
    }
    .infoMobile {
        display: block;
    }
    .mobileNavigation {
        display: block;
    }
    .orderTable {
        margin-top: 1.2em;
    }
    .description {
        font-size: 25px;
    }
    .commentHeader p {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 709px) {
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
        background-size: cover;
    }
    .navigation {
        display: none;
    }
    .info {
        display: none;
    }
    .infoMobile {
        display: block;
        font-size: 1.5em;
    }
    .buttonMobileNavigation {
        font-size: 25px;
    }
    .mobileNavigation {
        display: block;
    }
    ul.navigationSiteList a {
        font-size: 23px;
    }
    .description {
        font-size: 25px;
    }
    .banquetContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .commentHeader p {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
        background-size: cover;
    }
    .navigation {
        display: none;
    }
    .info {
        display: none;
    }
    .infoMobile {
        display: block;
        font-size: 1.5em;
    }
    .buttonMobileNavigation {
        font-size: 20px;
    }
    .mobileNavigation {
        display: block;
    }
    ul.navigationSiteList a {
        display: block;
        font-size: 23px;
        margin-top: 10px;
    }
    .menuDishes p {
        font-size: 2.5em;
    }
    .description {
        font-size: 20px;
        padding-top: 10%;
    }
    .banquets p {
        font-size: 2.5em;
    }
    .banquetContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .photoGallery {
        display: none;
    }
    .commentHeader p {
        font-size: 2.5em;
    }
}