* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}

.nameSectionMenu {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-bottom: 10px;
}

.menuItem {
    display: block;
    grid-template-columns: minmax(150px, 1fr);
    border: 3px solid rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
}

.description {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 1;
    top: 65%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.composition {
    display: none;
}

.nameDish {
    font-size: 20px;
    text-align: center;
}

.composition {
    font-size: 20px;
}

.up {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.down {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* .nameDish {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
} */

.priceDish {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}

footer {
    margin: 0 auto;
    max-width: 1280px;
}
.footer p {
    margin: 5px;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .compositionMobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
.menuContainer {
    grid-template-columns: repeat(2, 1fr);
}

.nameDish {
    font-size: 23px;
}
}

@media only screen and (max-width: 480px) {
    .menuContainer {
        grid-template-columns: 1fr;
    }    
}
