@media screen and (max-width: 320px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        overflow-x: hidden;
    }
    .header {
        background: url(../images/header-mobile.jpg) no-repeat;
    }
    .navigation {
        display: none;
    }
    .mobile-navigation {
        display: grid;
    }
    .specification {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 95%;
        margin: 0 auto;
    }
    .specification-mobile {
        display: block;
        top: 65%;
    }
    .name_dishMobile {
        font-size: 20px;
        text-align: center;
    }
    .compositionMobile {
        display: none;
        font-size: 20px;
    }
}