body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(255, 228, 196, 0.7);
}

.header {
    background: url(../images/header.png) no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.header-front {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.name-cafe {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Times new Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.navigation {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}

.navigation-site li {
    display: inline;
}

ul.navigation-site a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    opacity: 0, 1;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Times new Roman", Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

ul.navigation-site a:hover {
    background-color: rgba(169, 169, 169, 0.4);
    color: rgb(255, 255, 255);
}

.mobile-navigation {
    display: none;
}

.main {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

.grid-item {
    border: 3px solid rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
}

.specification {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    /* padding-top: 10px; */
    text-align: center;
    opacity: 1;
    top: 65%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.specification p {
    display: none;
}


/* .grid-item:hover .specification {
    opacity: 0;
    top: 100;
} */

.name_dish {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.composition {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.price_dish {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}

.footer p {
    margin: 5px;
}

@media screen and (max-width: 900px) {}

@media only screen and (min-width: 710px) and (max-width: 800px) {}

@media only screen and (min-width: 600px) and (max-width: 709px) {}

@media only screen and (min-width: 480px) and (max-width: 600px) {}