#slider {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 700px;
    width: 1235px;
    margin: 0;
    overflow: visible;
    position: relative;
 }

 #mask {
    overflow: hidden;
    height: 700px;
 }

/* List images */

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 #slider li {
    width: 1235px;  
    height: 700px; 
    position: absolute;
    top: -705px;	
    list-style: none;
 }
 
 #slider li.wedding_1 {
    animation: loop_1 25s linear infinite;
 }
 
 #slider li.wedding_2 {
    animation: loop_2 25s linear infinite;
 }
 
 #slider li.wedding_3 {
    animation: loop_3 25s linear infinite;
 }
 
 #slider li.wedding_4 {
    animation: loop_4 25s linear infinite;
 }
 
 #slider li.wedding_5 {
    animation: loop_5 25s linear infinite;
 }
 
@keyframes loop_1 {
    0%  { top: 0px; } 
    4%  { top: 0px; } 
    16% { top: 0px; opacity:1; z-index:0; } 
    20% { top: 325px; opacity: 0; z-index: 0; } 
    21% { top: -325px; opacity: 0; z-index: -1; } 
    92% { top: -325px; opacity: 0; z-index: 0; }
    96% { top: -325px; opacity: 0; } 
    100%{ top: 0px; opacity: 1; }
 }
 
 @keyframes loop_2 {
    0%  { top: -325px; opacity: 0; } 
    16% { top: -325px; opacity: 0; }
    20% { top: 0px; opacity: 1; }
    24% { top: 0px; opacity: 1; }  
    36% { top: 0px; opacity: 1; z-index: 0; }   
    40% { top: 325px; opacity: 0; z-index: 0; } 
    41% { top: -325px; opacity: 0; z-index: -1; }   
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes loop_3 {
    0%  { top: -325px; opacity: 0; }
    36% { top: -325px; opacity: 0; }
    40% { top: 0px; opacity: 1; }
    44% { top: 0px; opacity: 1; }
    56% { top: 0px; opacity: 1; }
    60% { top: 325px; opacity: 0; z-index: 0; }
    61% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes loop_4 {
    0%  { top: -325px; opacity: 0; }
    56% { top: -325px; opacity: 0; }
    60% { top: 0px; opacity: 1; }
    64% { top: 0px; opacity: 1; }
    76% { top: 0px; opacity: 1; z-index: 0; }
    80% { top: 325px; opacity: 0; z-index: 0; }
    81% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 @keyframes loop_5 {
    0%  { top: -325px; opacity: 0; }
    76% { top: -325px; opacity: 0; }
    80% { top: 0px; opacity: 1; }
    84% { top: 0px; opacity: 1; }
    96% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
 }

 .progress-bar {
    position: relative;
    top: -5px;
    width: 680px;
    height: 5px;
    background: #000;
    animation: fullexpand 25s ease-out infinite;
 }
 
 @keyframes fullexpand {
    
    0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

    4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }
 
    16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }
 
    17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }
 
    18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
 }

#slider :hover li {
   animation-play-state: paused;
}

