body{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    border: 1px solid #ccc;
}

.column{
    flex-direction: column;
}

.flex-item{
    text-align: center;
    font-size: 1em;
    color: black;
}

/*  Header and navigation */
.header{
    background-image: url(../images/header.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
.header-front{
    background-color: rgba(0, 0, 0, 0.7);
    height: 700px;
}
.name{
    height: 100px;
    color: white;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-style: italic;
    padding-top: 10px;
    }

.nav{
    margin: 50px;
    list-style: none;
}
.nav li{
    display: inline;
}
ul.nav a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    opacity: 0,1;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid  rgb(105, 105, 105);
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
ul.nav a:hover{
    background-color:rgba(169, 169, 169, 0.4);
    color: white;
} 

#adress{
    margin-top: 100px;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#phone{
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#time{
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

/* About cafe */
.main{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
    background-color:rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    overflow: hidden;  
}

#paragraph_1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    margin-top: 100px;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#paragraph_2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: normal;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}



/*  Menu */
.menu{
    background-color: rgb(255, 255, 255); 
}
#name_menu{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
.flex-container_menu{
    display: flex;
}
.column_menu{
    flex-direction: column;
    flex-wrap: wrap;
}

.nav_menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_menu li{
    display: inline-block;
    width: 30%;
    margin: 5px;
    position: relative;
}
.nav_menu img{
    max-width: 100%;
    display: block;
}
.desrc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all, .5s;
    -o-transition: all, .5s;
    transition: all, .5s;
}

ul.nav_menu a{
    display: inline-block;
}

.nav_menu li:hover .desrc{
    opacity: 1;
}


/* Banquet */

.banquet{
 /*   background-color: rgb(255, 248, 220);  */
    background-color:rgb(255, 228, 196);
    background-image: linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -o-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -moz-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    background-image: -webkit-linear-gradient(top left, rgb(255, 255, 255), rgb(210, 180, 140));
    overflow: hidden;  
    height: auto;  
  /*  border: 2px solid black; */
}
.flex-container_banquet{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#banquet_name{
    text-align: center;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
}
.banquet_text{
    width: 50%;
    height: auto; 
    text-align: center;
}
#banquet_list{
    list-style-type: none;
    margin-top: 10px;

}

#banquet_list li{
    position: relative;
    padding: 20px 0 20px 40px;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
}
#banquet_list li:before{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius:50%;
    background: rgb(139, 69, 19);
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}

#banquet_list li:after{
    position: absolute;
    border-left: 1px dotted rgb(139, 69, 19);
    width: 1px;
    bottom: -12px; 
    content: ""; 
    left: 3px;
    top: 48px; 
}  

#order_button{
    background: rgb(139, 69, 19);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

/* Wedding */
.container{
    width: 100%;
    height: auto;
}

/* 
@media screen and (max-width: 1024px) {
 .grid .grid-item {
 width: 50%;
 }
}
@media screen and (max-width: 480px) {
 .grid .grid-item {
 width: 100%;
 }
}

*/

/* Comment */
#comParagraph{
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding-top: 10px;
}
.comment-box{
    background-color: rgb(210, 180, 140);
    height: auto;
}
#comment{
    width: 450px;
    height: auto;
    margin: 0 auto;
}
#firstName, #lastName, #email{
    width: 100%;
    height: 50px;
    background: none;
    margin-top: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;

}
#firstName:focus, #lastName:focus, #email:focus{
    border-bottom: 2px solid rgb(211, 211, 211);
}

#textComment{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.commentButton{
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid  rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.commentButton:hover{
    background: rgba(211, 211, 211, 0.2);
    border: 3px solid  rgb(255, 255, 255);
}

.footer{
    background-color:rgb(222, 184, 135);
    height: 70px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Times New Roman",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


